services:
  - type: web
    name: lpg-monitor-backend
    env: python
    region: singapore   
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
    autoDeploy: true

    envVars:
      - key: MONGO_URI
        sync: false    
      - key: JWT_SECRET
        sync: false
      - key: JWT_ALGORITHM
        value: "HS256"
